<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @instructor_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor_profile.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <% @user = User.find(@instructor_profile.user_id) %>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <% @user = User.find(@instructor_profile.user_id) %>
  <%= @user.email %>
</p>

<p>
  <strong>Citizen ID:</strong>
  <%= @instructor_profile.citizen_id %>
</p>

<p>
  <strong>Instructor ID:</strong>
  <%= @instructor_profile.instructor_id %>
</p>

<p>
  <strong>Department name:</strong>
  <%= @instructor_profile.department_name %>
</p>
<br>

<%= link_to 'Edit', edit_instructor_profile_path(@instructor_profile) %>
