<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @visitor_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @visitor_profile.last_name %>
</p>

<p>
  <strong>Citizen ID:</strong>
  <%= @visitor_profile.citizen_id %>
</p>
<br>

<%= link_to 'Edit', edit_visitor_profile_path(@visitor_profile) %>
