<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_profile.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <% @user = User.find(@student_profile.user_id) %>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <% @user = User.find(@student_profile.user_id) %>
  <%= @user.email %>
</p>

<p>
  <strong>Citizen ID:</strong>
  <%= @student_profile.citizen_id %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @student_profile.student_id %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', request.referrer %>
