<p id="notice"><%= notice %></p>

<% if current_user.role == "Instructor" and current_user.instructor_profile.nil? %>
  <h4>You must have a profile to subscribe to or create a course</h4>
<% end %>

<h1>Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>

        <% @owner = User.find(course.user_id) %>
        <td>
          <%= @owner.instructor_profile.first_name %> 
          <%= @owner.instructor_profile.last_name %>
        </td> 

        <td><%= link_to 'See course', course %></td>

        <%# if the user does not own the course %>
        <% if course.user_id != current_user.id %>
          <%# if the user has a profile %>
          <% if !current_user.instructor_profile.nil? or !current_user.student_profile.nil? %>
            <%# if the user is subscribed%>
            <% if course.subscriptions.exists?(user_id: current_user.id) %>
              <td>Subscribed</td>
            <% else %>
              <td>
                <%= form_with(model: [ course, course.subscriptions.build ], local: true) do |form| %>
                  <%= form.submit 'Subscribe' %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role == "Instructor" %>
  <%= link_to 'Add a new course', new_course_path %><br><br>
  <%= link_to 'Add a new student', new_student_path %> | 
  <%= link_to 'See all students', student_profiles_path %>
<% end %>