<p id="notice"><%= notice %></p>

<%= link_to 'See all subscribers', users_index_path(@course) %>
<br><br>

<p>
  <strong>Course Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <% @instructor = User.find(@course.user_id) %>
  <%= @instructor.instructor_profile.first_name %>
  <%= @instructor.instructor_profile.last_name %>
</p>

<%# if current user owns the course%>
<% if @course.user_id == current_user.id %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

<%= link_to 'Back', courses_path %>
<br><br>

<%# if the user is subscribed to or owns the course %>
<% if @course.subscriptions.exists?(user_id: current_user.id) or @course.user_id == current_user.id %>
  <%# Show all the groups in this course%>
  <% @groups = @course.groups %>
  <% if  @groups.size == 0 %>
    <strong>There is currently no group in this course</strong>
  <% else %>
    <h1>Groups</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= link_to 'Show', group %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  <% end %>
<% else %>
  <%= form_with(model: [ @course, @course.subscriptions.build ], local: true) do |form| %>
    <%= form.submit 'Subscribe' %>
  <% end %>
  
<% end %>

<%# if current user owns the course%>
<% if @course.user_id == current_user.id %>
  <%= form_with(model: [ @course, @course.groups.build ], local: true) do |form| %>
    <%= form.submit 'Create a new group' %>
  <% end %>
<% end %>
